# Cleaning Fifa21 Players Dataset using Python

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [4]:
df = pd.read_csv('fifa21 raw data v2.csv', low_memory=False)

In [5]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [10]:
print(df.columns)

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

## Changing height and weight columns to have a consistent data type

In [15]:
df[['Height']].head()

  Height
0  170cm
1  187cm
2  188cm
3  181cm
4  175cm

In [17]:
unique_heights = df['Height'].unique()
print(unique_heights)

['170cm' '187cm' '188cm' '181cm' '175cm' '184cm' '191cm' '178cm' '193cm'
 '185cm' '199cm' '173cm' '168cm' '176cm' '177cm' '183cm' '180cm' '189cm'
 '179cm' '195cm' '172cm' '182cm' '186cm' '192cm' '165cm' '194cm' '167cm'
 '196cm' '163cm' '190cm' '174cm' '169cm' '171cm' '197cm' '200cm' '166cm'
 '6\'2"' '164cm' '198cm' '6\'3"' '6\'5"' '5\'11"' '6\'4"' '6\'1"' '6\'0"'
 '5\'10"' '5\'9"' '5\'6"' '5\'7"' '5\'4"' '201cm' '158cm' '162cm' '161cm'
 '160cm' '203cm' '157cm' '156cm' '202cm' '159cm' '206cm' '155cm']

In [19]:
def convert_to_cm(height):
    if 'cm' in height:
        return int(height.replace('cm', ''))
    elif '\'' in height:
        feet, inches = map(int, re.findall(r'\d+', height))
        return round(feet * 30.48 + inches * 2.54, 2)
    return None

df['Height_cm'] = df['Height'].apply(convert_to_cm)

print(df[['Height', 'Height_cm']])

      Height  Height_cm
0      170cm      170.0
1      187cm      187.0
2      188cm      188.0
3      181cm      181.0
4      175cm      175.0
...      ...        ...
18974  178cm      178.0
18975  175cm      175.0
18976  179cm      179.0
18977  175cm      175.0
18978  188cm      188.0

[18979 rows x 2 columns]

In [20]:
unique_weights = df['Weight'].unique()
print(unique_weights)

['72kg' '83kg' '87kg' '70kg' '68kg' '80kg' '71kg' '91kg' '73kg' '85kg'
 '92kg' '69kg' '84kg' '96kg' '81kg' '82kg' '75kg' '86kg' '89kg' '74kg'
 '76kg' '64kg' '78kg' '90kg' '66kg' '60kg' '94kg' '79kg' '67kg' '65kg'
 '59kg' '61kg' '93kg' '88kg' '97kg' '77kg' '62kg' '63kg' '95kg' '100kg'
 '58kg' '183lbs' '179lbs' '172lbs' '196lbs' '176lbs' '185lbs' '170lbs'
 '203lbs' '168lbs' '161lbs' '146lbs' '130lbs' '190lbs' '174lbs' '148lbs'
 '165lbs' '159lbs' '192lbs' '181lbs' '139lbs' '154lbs' '157lbs' '163lbs'
 '98kg' '103kg' '99kg' '102kg' '56kg' '101kg' '57kg' '55kg' '104kg'
 '107kg' '110kg' '53kg' '50kg' '54kg' '52kg']

In [21]:
def convert_to_kg(weight):
    if 'kg' in weight:
        return float(weight.replace('kg', ''))
    elif 'lbs' in weight:
        pounds = float(weight.replace('lbs', ''))
        return round(pounds * 0.453592, 2)
    return None

df['Weight_kg'] = df['Weight'].apply(convert_to_kg)

print(df[['Weight', 'Weight_kg']])

      Weight  Weight_kg
0       72kg       72.0
1       83kg       83.0
2       87kg       87.0
3       70kg       70.0
4       68kg       68.0
...      ...        ...
18974   66kg       66.0
18975   65kg       65.0
18976   74kg       74.0
18977   69kg       69.0
18978   75kg       75.0

[18979 rows x 2 columns]

## Splitting 'Joined' column dates into separate day, month, and year columns

In [24]:
df[['Joined']].head()

         Joined
0   Jul 1, 2004
1  Jul 10, 2018
2  Jul 16, 2014
3  Aug 30, 2015
4   Aug 3, 2017

In [34]:
df['Joined'] = pd.to_datetime(df['Joined'])

df['Day'] = df['Joined'].dt.day
df['Month'] = df['Joined'].dt.month
df['Year'] = df['Joined'].dt.year

df[['Day','Month','Year']]

       Day  Month  Year
0        1      7  2004
1       10      7  2018
2       16      7  2014
3       30      8  2015
4        3      8  2017
...    ...    ...   ...
18974   13      7  2018
18975    1      8  2020
18976    8      3  2019
18977   22      9  2020
18978   29      7  2019

[18979 rows x 3 columns]

## Removing newline characters from the 'Club' column

In [8]:
df['Club'].unique()

array(['\n\n\n\nFC Barcelona', '\n\n\n\nJuventus',
       '\n\n\n\nAtlético Madrid', '\n\n\n\nManchester City',
       '\n\n\n\nParis Saint-Germain', '\n\n\n\nFC Bayern München',
       '\n\n\n\nLiverpool', '\n\n\n\nReal Madrid', '\n\n\n\nChelsea',
       '\n\n\n\nTottenham Hotspur', '\n\n\n\nInter', '\n\n\n\nNapoli',
       '\n\n\n\nBorussia Dortmund', '\n\n\n\nManchester United',
       '\n\n\n\nArsenal', '\n\n\n\nLazio', '\n\n\n\nLeicester City',
       '\n\n\n\nBorussia Mönchengladbach', '\n\n\n\nReal Sociedad',
       '\n\n\n\nAtalanta', '\n\n\n\nOlympique Lyonnais', '\n\n\n\nMilan',
       '\n\n\n\nVillarreal CF', '\n\n\n\nRB Leipzig', '\n\n\n\nCagliari',
       '\n\n\n\nAjax', '\n\n\n\nSL Benfica', '\n\n\n\nAS Monaco',
       '\n\n\n\nWolverhampton Wanderers', '\n\n\n\nEverton',
       '\n\n\n\nFiorentina', '\n\n\n\nFC Porto', '\n\n\n\nRC Celta',
       '\n\n\n\nTorino', '\n\n\n\nSevilla FC', '\n\n\n\nGrêmio',
       '\n\n\n\nReal Betis', '\n\n\n\nRoma', '\n\n\n\nNewcastle United',
       '\n\n\n\nEintracht Frankfurt', '\n\n\n\nValencia CF',
       '\n\n\n\nMedipol Başakşehir FK', '\n\n\n\nInter Miami',
       '\n\n\n\nBayer 04 Leverkusen', '\n\n\n\nLevante UD',
       '\n\n\n\nCrystal Palace', '\n\n\n\nAthletic Club de Bilbao',
       '\n\n\n\nShanghai SIPG FC', '\n\n\n\nVfL Wolfsburg',
       '\n\n\n\nGuangzhou Evergrande Taobao FC', '\n\n\n\nAl Shabab',
       '\n\n\n\nOlympique de Marseille', '\n\n\n\nLos Angeles FC',
       '\n\n\n\nBeijing Sinobo Guoan FC', '\n\n\n\nGetafe CF',
       '\n\n\n\nSV Werder Bremen', '\n\n\n\nTSG 1899 Hoffenheim',
       '\n\n\n\nLOSC Lille', '\n\n\n\nDeportivo Alavés',
       '\n\n\n\nBurnley', '\n\n\n\nLeeds United', '\n\n\n\nFulham',
       '\n\n\n\nPFC CSKA Moscow', '\n\n\n\nGenoa',
       '\n\n\n\nGalatasaray SK', '\n\n\n\nAtlanta United',
       '\n\n\n\nAtlético Mineiro', '\n\n\n\nFlamengo',
       '\n\n\n\nPalmeiras', 'No Club', '\n\n\n\nSão Paulo',
       '\n\n\n\nWest Ham United', '\n\n\n\nSD Eibar',
       '\n\n\n\nRiver Plate', '\n\n\n\nOGC Nice',
       '\n\n\n\nReal Valladolid CF', '\n\n\n\nSporting CP', '\n\n\n\nPSV',
       '\n\n\n\nFeyenoord', '\n\n\n\nClub Brugge KV',
       '\n\n\n\nShakhtar Donetsk', '\n\n\n\nVissel Kobe',
       '\n\n\n\nBoca Juniors', '\n\n\n\n1. FC Union Berlin',
       '\n\n\n\nDalian YiFang FC', '\n\n\n\nAS Saint-Étienne',
       '\n\n\n\nSassuolo', '\n\n\n\nTigres U.A.N.L.',
       '\n\n\n\nDinamo Zagreb', '\n\n\n\nDynamo Kyiv',
       '\n\n\n\nFluminense', '\n\n\n\nUdinese', '\n\n\n\nAston Villa',
       '\n\n\n\nStade Rennais FC', '\n\n\n\nBeşiktaş JK',
       '\n\n\n\nBrighton & Hove Albion', '\n\n\n\nHebei China Fortune FC',
       '\n\n\n\nSouthampton', '\n\n\n\nLokomotiv Moscow',
       '\n\n\n\nJiangsu Suning FC', '\n\n\n\nAl Hilal',
       '\n\n\n\nWest Bromwich Albion', '\n\n\n\nFenerbahçe SK',
       '\n\n\n\nFC Groningen', '\n\n\n\nGuangzhou R&F FC',
       '\n\n\n\nOrlando City SC', '\n\n\n\nSampdoria',
       '\n\n\n\nStade de Reims', '\n\n\n\nSheffield United',
       '\n\n\n\nSantos', '\n\n\n\nInternacional', '\n\n\n\nCoritiba',
       '\n\n\n\nCA Osasuna', '\n\n\n\nLA Galaxy', '\n\n\n\nAl Nassr',
       '\n\n\n\nSC Freiburg', '\n\n\n\nSC Braga',
       '\n\n\n\nOlympiacos CFP', '\n\n\n\nToronto FC',
       '\n\n\n\nGranada CF', '\n\n\n\nFC Schalke 04',
       '\n\n\n\nRC Strasbourg Alsace', '\n\n\n\nHertha BSC',
       '\n\n\n\nAZ Alkmaar', '\n\n\n\nSeattle Sounders FC',
       '\n\n\n\nMontpellier HSC', '\n\n\n\nShanghai Greenland Shenhua FC',
       '\n\n\n\nHamburger SV', '\n\n\n\nGirona FC', '\n\n\n\nRacing Club',
       '\n\n\n\nPortland Timbers', '\n\n\n\nFC Girondins de Bordeaux',
       '\n\n\n\nWatford', '\n\n\n\nEstudiantes de La Plata',
       '\n\n\n\nClub América', '\n\n\n\nVitória Guimarães',
       '\n\n\n\nSK Slavia Praha', '\n\n\n\nTrabzonspor',
       '\n\n\n\nRCD Espanyol', '\n\n\n\nFC Nantes', '\n\n\n\nAngers SCO',
       '\n\n\n\nCruz Azul', '\n\n\n\nBSC Young Boys', '\n\n\n\nClub León',
       '\n\n\n\nSpartak Moscow', '\n\n\n\nSivasspor', '\n\n\n\nElche CF',
       '\n\n\n\nFC Augsburg', '\n\n\n\nWuhan Zall', '\n\n\n\nParma',
       '\n\n\n\nRoyal Antwerp FC', '\n\n\n\nMonterrey',
       '\n\n\n\nSan Lorenzo de Almagro', '\n\n\n\nAC Monza',
       '\n\n\n\nClub Atlético Lanús', '\n\n\n\nSD Huesca',
       '\n\n\n\nDerby County', '\n\n\n\nKayserispor',
       '\n\n\n\nRSC Anderlecht', '\n\n\n\nCD Leganés',
       '\n\n\n\nVélez Sarsfield', '\n\n\n\nStade Brestois 29',
       '\n\n\n\nTianjin TEDA FC', '\n\n\n\nBirmingham City',
       '\n\n\n\nHellas Verona', '\n\n\n\n1. FC Köln', '\n\n\n\nAl Wehda',
       '\n\n\n\nBournemouth', '\n\n\n\nAlanyaspor', '\n\n\n\nBologna',
       '\n\n\n\nAmiens SC', '\n\n\n\nCeltic',
       '\n\n\n\nShijiazhuang Ever Bright F.C.', '\n\n\n\nClub Atlas',
       '\n\n\n\nAl Ahli', '\n\n\n\nNorwich City',
       '\n\n\n\nFatih Karagümrük S.K.', '\n\n\n\nClub Tijuana',
       '\n\n\n\nUniversidad Católica', '\n\n\n\nGoiás',
       '\n\n\n\nBenevento', '\n\n\n\nIndependiente',
       '\n\n\n\nQingdao Huanghai F.C.', '\n\n\n\nBrentford',
       '\n\n\n\nAEK Athens', '\n\n\n\nRacing Club de Lens',
       '\n\n\n\nOlimpia Asunción', '\n\n\n\nShenzhen FC',
       '\n\n\n\nÇaykur Rizespor', '\n\n\n\nKAA Gent',
       '\n\n\n\nNew England Revolution', '\n\n\n\nCádiz CF',
       '\n\n\n\n1. FSV Mainz 05', '\n\n\n\nVasco da Gama',
       '\n\n\n\nFC Midtjylland', '\n\n\n\nAl Ain FC',
       '\n\n\n\nSantos Laguna', '\n\n\n\nSPAL', '\n\n\n\nPerth Glory',
       '\n\n\n\nFC Utrecht', '\n\n\n\nMontreal Impact',
       '\n\n\n\nUD Almería', '\n\n\n\nFortaleza', '\n\n\n\nSpezia',
       '\n\n\n\nFC Basel 1893', '\n\n\n\nFC København',
       '\n\n\n\nGodoy Cruz', '\n\n\n\nDeportivo Toluca',
       '\n\n\n\nNacional de Montevideo', '\n\n\n\nAalborg BK',
       '\n\n\n\nRio Ave FC', '\n\n\n\nFC Metz',
       '\n\n\n\nChongqing Dangdai Lifan FC SWM Team',
       '\n\n\n\nRosenborg BK', '\n\n\n\nFC Red Bull Salzburg',
       '\n\n\n\nBotafogo', '\n\n\n\nDSC Arminia Bielefeld',
       '\n\n\n\nClub Athletico Paranaense', '\n\n\n\nRCD Mallorca',
       '\n\n\n\nPachuca', '\n\n\n\nSwansea City', '\n\n\n\nKRC Genk',
       '\n\n\n\nEn Avant de Guingamp', '\n\n\n\nLecce',
       '\n\n\n\nNîmes Olympique', '\n\n\n\nColo-Colo',
       '\n\n\n\nStade Malherbe Caen', '\n\n\n\nColumbus Crew SC',
       '\n\n\n\nJunior FC', '\n\n\n\nVfB Stuttgart',
       '\n\n\n\nMoreirense FC', '\n\n\n\nRangers FC', '\n\n\n\nMalmö FF',
       '\n\n\n\nShandong Luneng TaiShan FC', '\n\n\n\nSparta Praha',
       '\n\n\n\nHatayspor', '\n\n\n\nChicago Fire',
       '\n\n\n\nToulouse Football Club', '\n\n\n\nFC Seoul',
       '\n\n\n\nAntalyaspor', '\n\n\n\nDeportivo Cali',
       '\n\n\n\nKaizer Chiefs', '\n\n\n\nReal Zaragoza',
       '\n\n\n\nAtlético Clube Goianiense', '\n\n\n\nPuebla FC',
       '\n\n\n\nFortuna Düsseldorf', '\n\n\n\nWestern United FC',
       '\n\n\n\nAstra Giurgiu', '\n\n\n\nHenan Jianye FC',
       '\n\n\n\nBahia', '\n\n\n\nFamalicão', '\n\n\n\nAtiker Konyaspor',
       '\n\n\n\nPeñarol', '\n\n\n\nDC United', '\n\n\n\nNew York City FC',
       '\n\n\n\nArgentinos Juniors', '\n\n\n\nU.N.A.M.',
       '\n\n\n\nMinnesota United FC', '\n\n\n\nNottingham Forest',
       '\n\n\n\nIndependiente del Valle', '\n\n\n\nDefensa y Justicia',
       '\n\n\n\nPhiladelphia Union', "\n\n\n\nNewell's Old Boys",
       '\n\n\n\nRosario Central', '\n\n\n\nAtlético de San Luis',
       '\n\n\n\nFC Dallas', '\n\n\n\nDenizlispor',
       '\n\n\n\nYeni Malatyaspor', '\n\n\n\nClub Atlético Colón',
       '\n\n\n\nHouston Dynamo', '\n\n\n\nMillwall',
       '\n\n\n\nClube Sport Marítimo', '\n\n\n\nMKE Ankaragücü',
       '\n\n\n\nGuadalajara', '\n\n\n\nBoavista FC',
       '\n\n\n\nSporting Kansas City', '\n\n\n\nAtlético Nacional',
       '\n\n\n\nCD Lugo', '\n\n\n\nNew York Red Bulls', '\n\n\n\nPAOK',
       '\n\n\n\nSC Heerenveen', '\n\n\n\nDaegu FC',
       '\n\n\n\nPreston North End', '\n\n\n\nDamac FC', '\n\n\n\nBrescia',
       '\n\n\n\nVfL Bochum 1848', '\n\n\n\nVancouver Whitecaps FC',
       '\n\n\n\nSV Sandhausen', '\n\n\n\nRoyal Excel Mouscron',
       '\n\n\n\nDijon FCO', '\n\n\n\nMolde FK',
       '\n\n\n\nPanathinaikos FC', '\n\n\n\nLASK Linz',
       '\n\n\n\nUlsan Hyundai FC', '\n\n\n\nReal Salt Lake',
       '\n\n\n\nFC Luzern', '\n\n\n\nViktoria Plzeň',
       '\n\n\n\nOrlando Pirates', '\n\n\n\nAl Ittihad',
       '\n\n\n\n1. FC Nürnberg', '\n\n\n\nStandard de Liège',
       '\n\n\n\nRayo Vallecano', '\n\n\n\nClub Libertad',
       '\n\n\n\nJeonbuk Hyundai Motors',
       '\n\n\n\nWestern Sydney Wanderers', '\n\n\n\nUnión de Santa Fe',
       '\n\n\n\nFC Sion', '\n\n\n\nSydney FC', '\n\n\n\nHannover 96',
       '\n\n\n\nReal Sporting de Gijón', '\n\n\n\nFC Cincinnati',
       '\n\n\n\nESTAC Troyes', '\n\n\n\nSan Jose Earthquakes',
       '\n\n\n\nClub Guaraní', '\n\n\n\nFC Lorient',
       '\n\n\n\nGençlerbirliği SK', '\n\n\n\nSporting de Charleroi',
       '\n\n\n\nWisła Kraków', '\n\n\n\nAl Taawoun', '\n\n\n\nReading',
       '\n\n\n\nGazişehir Gaziantep F.K.', '\n\n\n\nBlackburn Rovers',
       '\n\n\n\nKashiwa Reysol', '\n\n\n\nFK Bodø/Glimt',
       '\n\n\n\nWillem II', '\n\n\n\nVitesse', '\n\n\n\nGil Vicente FC',
       '\n\n\n\nSønderjyskE', '\n\n\n\nYokohama F. Marinos',
       '\n\n\n\nFC St. Gallen', '\n\n\n\nClub Atlético Aldosivi',
       '\n\n\n\nGöztepe SK', '\n\n\n\nHolstein Kiel', '\n\n\n\nFC Juárez',
       '\n\n\n\nFCSB (Steaua)', '\n\n\n\nEttifaq FC', '\n\n\n\nKAS Eupen',
       '\n\n\n\nFC Tokyo', '\n\n\n\nMelbourne City FC',
       '\n\n\n\nUniversitatea Craiova', '\n\n\n\nCD Tondela',
       '\n\n\n\nWolfsberger AC', '\n\n\n\nCeará Sporting Club',
       '\n\n\n\nRiver Plate Asunción', '\n\n\n\nStoke City',
       '\n\n\n\nParis FC', '\n\n\n\nIFK Norrköping', '\n\n\n\nCrotone',
       '\n\n\n\nCardiff City', '\n\n\n\nAmérica de Cali',
       '\n\n\n\nAl Faisaly', '\n\n\n\nIndependiente Medellín',
       '\n\n\n\nPortimonense SC', '\n\n\n\nCD Tenerife',
       '\n\n\n\nHeracles Almelo', '\n\n\n\nNashville SC',
       '\n\n\n\nSK Rapid Wien', '\n\n\n\nKawasaki Frontale',
       '\n\n\n\nClub Necaxa', '\n\n\n\nChievo Verona',
       '\n\n\n\nLech Poznań', '\n\n\n\nAIK', '\n\n\n\nFK Austria Wien',
       '\n\n\n\nQuerétaro', '\n\n\n\n1. FC Heidenheim 1846',
       '\n\n\n\nLegia Warszawa', '\n\n\n\nClub Atlético Banfield',
       '\n\n\n\nOs Belenenses', '\n\n\n\nHuddersfield Town',
       '\n\n\n\nKSV Cercle Brugge', '\n\n\n\nLDU Quito',
       '\n\n\n\nGimnasia y Esgrima La Plata', '\n\n\n\nGamba Osaka',
       '\n\n\n\nMiddlesbrough', '\n\n\n\nServette FC', '\n\n\n\nEmpoli',
       '\n\n\n\nReal Oviedo', '\n\n\n\nKasimpaşa SK', '\n\n\n\nCFR Cluj',
       '\n\n\n\nMillonarios FC', '\n\n\n\nFC Paços de Ferreira',
       '\n\n\n\nSint-Truidense VV', '\n\n\n\nAD Alcorcón',
       '\n\n\n\nColorado Rapids', '\n\n\n\nDinamo Bucureşti',
       '\n\n\n\nCerezo Osaka', '\n\n\n\nFC Emmen',
       '\n\n\n\nSheffield Wednesday', '\n\n\n\nFC Erzgebirge Aue',
       '\n\n\n\nRaków Częstochowa', '\n\n\n\nAtlético Tucumán',
       '\n\n\n\nSV Darmstadt 98', '\n\n\n\nBristol City',
       '\n\n\n\nOud-Heverlee Leuven', '\n\n\n\nBarnsley',
       '\n\n\n\nQueens Park Rangers', '\n\n\n\nSangju Sangmu FC',
       '\n\n\n\nHelsingborgs IF', '\n\n\n\nAC Ajaccio',
       '\n\n\n\nOceânico FC', '\n\n\n\nClub Atlético Talleres',
       '\n\n\n\nAl Hazem', '\n\n\n\nSC Paderborn 07',
       '\n\n\n\nClub Atlético Huracán', '\n\n\n\nKV Kortrijk',
       '\n\n\n\nEl Nacional', '\n\n\n\nMazatlán FC', '\n\n\n\nAberdeen',
       '\n\n\n\nCD Mirandés', '\n\n\n\nSV Zulte-Waregem',
       '\n\n\n\nPiast Gliwice', '\n\n\n\nDjurgårdens IF',
       '\n\n\n\nCentral Córdoba', '\n\n\n\nWellington Phoenix',
       '\n\n\n\nDeportivo Binacional', '\n\n\n\nPatronato',
       '\n\n\n\nSpVgg Greuther Fürth', '\n\n\n\nIFK Göteborg',
       '\n\n\n\nFC Cartagena', '\n\n\n\nSanta Clara', '\n\n\n\nFC Twente',
       '\n\n\n\nFarense', '\n\n\n\nADO Den Haag', '\n\n\n\nAJ Auxerre',
       '\n\n\n\nAl Fateh', '\n\n\n\nValenciennes FC',
       '\n\n\n\nHokkaido Consadole Sapporo', '\n\n\n\nFC St. Pauli',
       '\n\n\n\nAlbacete BP', '\n\n\n\n1. FC Kaiserslautern',
       '\n\n\n\nAl Fayha', '\n\n\n\nIncheon United FC',
       '\n\n\n\nKV Mechelen', '\n\n\n\nPohang Steelers',
       '\n\n\n\nCD Nacional', '\n\n\n\nUnión La Calera',
       '\n\n\n\nBB Erzurumspor', '\n\n\n\nKashima Antlers',
       '\n\n\n\nArsenal de Sarandí', '\n\n\n\nHJK Helsinki',
       '\n\n\n\nKarlsruher SC', '\n\n\n\nAarhus GF', '\n\n\n\nFC Zürich',
       '\n\n\n\nBarcelona Sporting Club', '\n\n\n\nSG Dynamo Dresden',
       '\n\n\n\nSanfrecce Hiroshima', '\n\n\n\nAl Raed',
       '\n\n\n\nSD Ponferradina', '\n\n\n\nBrøndby IF',
       '\n\n\n\nLechia Gdańsk', '\n\n\n\nFC Viitorul',
       '\n\n\n\nSK Sturm Graz', '\n\n\n\nIF Elfsborg',
       '\n\n\n\nGangwon FC', '\n\n\n\nMelgar FBC',
       '\n\n\n\nClub Atlético Grau', '\n\n\n\nJagiellonia Białystok',
       '\n\n\n\nWaasland-Beveren', '\n\n\n\nVfL Osnabrück',
       '\n\n\n\nNagoya Grampus', '\n\n\n\nCF Fuenlabrada',
       '\n\n\n\nShamrock Rovers', '\n\n\n\nShimizu S-Pulse',
       '\n\n\n\nRKC Waalwijk', '\n\n\n\nVålerenga Fotball',
       '\n\n\n\nClermont Foot 63', '\n\n\n\nFC Ingolstadt 04',
       '\n\n\n\nFC Würzburger Kickers', '\n\n\n\nGórnik Zabrze',
       '\n\n\n\nCharlton Athletic', '\n\n\n\nBeerschot AC',
       '\n\n\n\nCoquimbo Unido', '\n\n\n\nViktoria Köln',
       '\n\n\n\nHull City', '\n\n\n\nMálaga CF',
       '\n\n\n\nFC Nordsjælland', '\n\n\n\nUD Las Palmas',
       '\n\n\n\nVVV-Venlo', '\n\n\n\nGwangJu FC',
       '\n\n\n\nChamois Niortais Football Club', '\n\n\n\nFC Lugano',
       '\n\n\n\nCusco FC', '\n\n\n\nSparta Rotterdam',
       '\n\n\n\nSol de América', '\n\n\n\nPEC Zwolle',
       '\n\n\n\nPogoń Szczecin', '\n\n\n\nDoncaster Rovers',
       '\n\n\n\nKristiansund BK', '\n\n\n\nLiverpool Fútbol Club',
       '\n\n\n\nClub Bolívar', '\n\n\n\nUrawa Red Diamonds',
       '\n\n\n\nSK Brann', '\n\n\n\nEintracht Braunschweig',
       '\n\n\n\nNacional Asunción', '\n\n\n\nMelbourne Victory',
       '\n\n\n\nKilmarnock', '\n\n\n\nDundalk',
       '\n\n\n\nSSV Jahn Regensburg', '\n\n\n\nAbha Club',
       '\n\n\n\nClub Atlético Tigre', '\n\n\n\nSuwon Samsung Bluewings',
       '\n\n\n\nShonan Bellmare', '\n\n\n\nSD Aucas', '\n\n\n\nEmelec',
       '\n\n\n\nFortuna Sittard', '\n\n\n\nLa Berrichonne de Châteauroux',
       '\n\n\n\nŚląsk Wrocław', '\n\n\n\nCoventry City',
       '\n\n\n\nSunderland', '\n\n\n\nAlianza Lima',
       '\n\n\n\nHammarby IF', '\n\n\n\nCracovia',
       '\n\n\n\nCE Sabadell FC', '\n\n\n\nOita Trinita',
       '\n\n\n\nBK Häcken', '\n\n\n\nLuton Town', '\n\n\n\nLe Havre AC',
       '\n\n\n\nIK Sirius', '\n\n\n\nZagłębie Lubin',
       '\n\n\n\nGrenoble Foot 38', '\n\n\n\nMacarthur FC',
       '\n\n\n\nRodez Aveyron Football', '\n\n\n\nVegalta Sendai',
       '\n\n\n\nMotherwell', '\n\n\n\nSV Wehen Wiesbaden',
       '\n\n\n\nAudax Italiano', '\n\n\n\nGaz Metan Mediaş',
       '\n\n\n\nPortsmouth', '\n\n\n\nHibernian', '\n\n\n\nAlways Ready',
       '\n\n\n\nUD Logroñés', '\n\n\n\nFC Voluntari',
       '\n\n\n\nFC Hermannstadt', '\n\n\n\nAS Nancy Lorraine',
       '\n\n\n\nRotherham United', '\n\n\n\nFleetwood Town',
       '\n\n\n\nJorge Wilstermann', '\n\n\n\nOdense Boldklub',
       '\n\n\n\nMSV Duisburg', '\n\n\n\nFC Sochaux-Montbéliard',
       '\n\n\n\nMilton Keynes Dons', '\n\n\n\nRiver Plate Montevideo',
       '\n\n\n\nDelfín SC', '\n\n\n\nUniversidad Católica del Ecuador',
       '\n\n\n\nDeportivo Pasto', '\n\n\n\nKV Oostende',
       '\n\n\n\nClub Plaza Colonia', '\n\n\n\nWigan Athletic',
       '\n\n\n\nFC Botoşani', '\n\n\n\nC.D. Castellón',
       '\n\n\n\nSCR Altach', '\n\n\n\nÖrebro SK', '\n\n\n\nTSV Hartberg',
       '\n\n\n\nStabæk Fotball', '\n\n\n\nWycombe Wanderers',
       '\n\n\n\nSt. Johnstone FC', '\n\n\n\nOxford United',
       '\n\n\n\nLincoln City', '\n\n\n\nRanders FC', '\n\n\n\nViking FK',
       '\n\n\n\nFC Chambly Oise', '\n\n\n\nDundee United',
       '\n\n\n\nOriente Petrolero', '\n\n\n\nOdds BK',
       '\n\n\n\nNacional Potosí', '\n\n\n\nSepsi OSK',
       '\n\n\n\nFC Hansa Rostock', '\n\n\n\nLyngby BK',
       '\n\n\n\nSpVgg Unterhaching', '\n\n\n\nBrisbane Roar',
       '\n\n\n\nSeongnam FC', '\n\n\n\nSV Ried', '\n\n\n\nCD Huachipato',
       '\n\n\n\nWSG Tirol', '\n\n\n\nPodbeskidzie Bielsko-Biała',
       '\n\n\n\nPeterborough United', '\n\n\n\nClub Blooming',
       '\n\n\n\nWisła Płock', '\n\n\n\nBusan IPark',
       '\n\n\n\nFSV Zwickau', '\n\n\n\nMjøndalen IF',
       '\n\n\n\nVejle Boldklub', '\n\n\n\nPau FC',
       '\n\n\n\nFC Lausanne-Sport', '\n\n\n\nEstudiantes de Mérida',
       '\n\n\n\nSagan Tosu', '\n\n\n\nSV Waldhof Mannheim',
       '\n\n\n\nSport Huancayo', '\n\n\n\nHallescher FC',
       '\n\n\n\nKalmar FF', '\n\n\n\nSt. Mirren',
       '\n\n\n\nSKN St. Pölten', '\n\n\n\nSarpsborg 08 FF',
       '\n\n\n\nShrewsbury', '\n\n\n\nTSV 1860 München',
       '\n\n\n\nSV Meppen', '\n\n\n\nIpswich Town', '\n\n\n\nIK Start',
       '\n\n\n\nAdelaide United', '\n\n\n\nStal Mielec',
       '\n\n\n\nCentro Atlético Fénix', '\n\n\n\nNewcastle Jets',
       '\n\n\n\nLivingston FC', '\n\n\n\nAC Mineros de Guayana',
       '\n\n\n\nAFC Wimbledon', '\n\n\n\nBurton Albion',
       '\n\n\n\nAl Adalah', '\n\n\n\nWarta Poznań',
       '\n\n\n\nUSL Dunkerque', '\n\n\n\nBristol Rovers',
       '\n\n\n\nUTA Arad', '\n\n\n\nÖstersunds FK',
       '\n\n\n\nSportivo Luqueño', '\n\n\n\nPolitehnica Iaşi',
       '\n\n\n\nSalford City', '\n\n\n\nCentral Coast Mariners',
       '\n\n\n\nCaracas FC', '\n\n\n\nAC Horsens',
       '\n\n\n\nPlymouth Argyle', '\n\n\n\nAalesunds FK',
       '\n\n\n\nCrewe Alexandra', '\n\n\n\nChindia Târgovişte',
       '\n\n\n\nOldham Athletic', '\n\n\n\nYokohama FC',
       '\n\n\n\nBlackpool', '\n\n\n\nNorthampton Town',
       '\n\n\n\nBayern München II', '\n\n\n\nFK Haugesund',
       '\n\n\n\nKFC Uerdingen 05', '\n\n\n\nForest Green Rovers',
       '\n\n\n\nCheltenham Town', '\n\n\n\nStrømsgodset IF',
       '\n\n\n\nMjällby AIF', '\n\n\n\nExeter City',
       '\n\n\n\nCambridge United', '\n\n\n\nGrimsby Town',
       '\n\n\n\nFC Vaduz', '\n\n\n\nTürkgücü München',
       '\n\n\n\nVfB Lübeck', '\n\n\n\nBolton Wanderers',
       '\n\n\n\nBradford City', '\n\n\n\n1. FC Magdeburg',
       '\n\n\n\nFC Admira Wacker Mödling',
       '\n\n\n\nHamilton Academical FC', '\n\n\n\nAragua FC',
       '\n\n\n\nAccrington Stanley', '\n\n\n\nSwindon Town',
       '\n\n\n\nCarlisle United', '\n\n\n\nFC Argeș', '\n\n\n\nPort Vale',
       '\n\n\n\nAcademica Clinceni', '\n\n\n\nRochdale',
       '\n\n\n\nGillingham', '\n\n\n\nTranmere Rovers',
       '\n\n\n\nSouthend United', '\n\n\n\n1. FC Saarbrücken',
       '\n\n\n\nColchester United', '\n\n\n\nMansfield Town',
       '\n\n\n\nFalkenbergs FF', '\n\n\n\nSC Verl',
       '\n\n\n\nVarbergs BoIS', '\n\n\n\nCrawley Town',
       '\n\n\n\nSandefjord Fotball', '\n\n\n\nNewport County',
       '\n\n\n\nBohemian FC', '\n\n\n\nRoss County FC',
       '\n\n\n\nScunthorpe United', '\n\n\n\nMorecambe',
       '\n\n\n\nWalsall', '\n\n\n\nLeyton Orient', '\n\n\n\nStevenage',
       '\n\n\n\nBarrow', '\n\n\n\nDerry City',
       '\n\n\n\nLlaneros de Guanare', '\n\n\n\nSligo Rovers',
       '\n\n\n\nZamora FC', "\n\n\n\nSt. Patrick's Athletic",
       '\n\n\n\nCork City', '\n\n\n\nShelbourne FC',
       '\n\n\n\nHarrogate Town', '\n\n\n\nWaterford FC',
       '\n\n\n\nFinn Harps'], dtype=object)

In [16]:
def clean_club_name(club):
    return re.sub(r'^\s*', '', club)

df['Cleaned_Club'] = df['Club'].apply(clean_club_name)

df[['Club', 'Cleaned_Club']]

                              Club         Cleaned_Club
0             \n\n\n\nFC Barcelona         FC Barcelona
1                 \n\n\n\nJuventus             Juventus
2          \n\n\n\nAtlético Madrid      Atlético Madrid
3          \n\n\n\nManchester City      Manchester City
4      \n\n\n\nParis Saint-Germain  Paris Saint-Germain
...                            ...                  ...
18974           \n\n\n\nWuhan Zall           Wuhan Zall
18975      \n\n\n\nOldham Athletic      Oldham Athletic
18976           \n\n\n\nDerry City           Derry City
18977     \n\n\n\nDalian YiFang FC     Dalian YiFang FC
18978     \n\n\n\nDalian YiFang FC     Dalian YiFang FC

[18979 rows x 2 columns]

## Changing the 'Value', 'Wage', and 'Release Clause' columns to integers

In [18]:
df[['Value', 'Wage', 'Release Clause']].head()

     Value   Wage Release Clause
0  €103.5M  €560K        €138.4M
1     €63M  €220K         €75.9M
2    €120M  €125K        €159.4M
3    €129M  €370K          €161M
4    €132M  €270K        €166.5M

In [20]:
df['Value'].unique()

array(['€103.5M', '€63M', '€120M', '€129M', '€132M', '€111M', '€120.5M',
       '€102M', '€185.5M', '€110M', '€113M', '€90.5M', '€82M', '€17.5M',
       '€83.5M', '€33.5M', '€114.5M', '€78M', '€103M', '€109M', '€92M',
       '€10M', '€76.5M', '€89.5M', '€87.5M', '€79.5M', '€124M', '€114M',
       '€95M', '€92.5M', '€105.5M', '€88.5M', '€85M', '€81.5M', '€26M',
       '€21M', '€56M', '€67.5M', '€53M', '€36.5M', '€51M', '€65.5M',
       '€46.5M', '€61.5M', '€72.5M', '€77.5M', '€43.5M', '€32.5M', '€36M',
       '€32M', '€54M', '€49.5M', '€57M', '€66.5M', '€74.5M', '€71.5M',
       '€121M', '€99M', '€67M', '€86.5M', '€93.5M', '€70M', '€62M',
       '€66M', '€58M', '€44M', '€81M', '€37M', '€14.5M', '€46M', '€47.5M',
       '€52.5M', '€54.5M', '€34.5M', '€57.5M', '€51.5M', '€44.5M', '€55M',
       '€48M', '€60.5M', '€63.5M', '€61M', '€29M', '€58.5M', '€55.5M',
       '€42M', '€40.5M', '€43M', '€45.5M', '€34M', '€26.5M', '€42.5M',
       '€35.5M', '€45M', '€41.5M', '€40M', '€11M', '€13.5M', '€29.5M',
       '€27M', '€15.5M', '€38.5M', '€52M', '€33M', '€19M', '€73.5M',
       '€38M', '€35M', '€47M', '€24M', '€30.5M', '€18M', '€28M', '€25.5M',
       '€25M', '€31M', '€23.5M', '€30M', '€31.5M', '€22.5M', '€28.5M',
       '€4M', '€12.5M', '€37.5M', '€27.5M', '€16M', '€15M', '€20.5M',
       '€22M', '€3.4M', '€5M', '€56.5M', '€62.5M', '€0', '€39M', '€24.5M',
       '€21.5M', '€13M', '€8M', '€20M', '€8.5M', '€2.9M', '€9M', '€4.6M',
       '€50M', '€23M', '€18.5M', '€7M', '€19.5M', '€5.5M', '€7.5M',
       '€3.8M', '€14M', '€10.5M', '€16.5M', '€3.6M', '€9.5M', '€39.5M',
       '€17M', '€12M', '€11.5M', '€4.9M', '€3M', '€1.9M', '€6.5M',
       '€1.7M', '€2.4M', '€3.1M', '€6M', '€3.7M', '€4.7M', '€4.3M',
       '€2.1M', '€1.2M', '€1.8M', '€4.8M', '€3.2M', '€1.3M', '€825K',
       '€2.3M', '€1.5M', '€3.9M', '€2.6M', '€3.5M', '€2.8M', '€2.7M',
       '€4.4M', '€4.1M', '€950K', '€1.6M', '€625K', '€1.1M', '€4.5M',
       '€4.2M', '€2.2M', '€3.3M', '€1.4M', '€2M', '€475K', '€925K',
       '€750K', '€725K', '€2.5M', '€1M', '€350K', '€525K', '€600K',
       '€850K', '€800K', '€550K', '€250K', '€400K', '€425K', '€575K',
       '€210K', '€325K', '€900K', '€875K', '€650K', '€700K', '€500K',
       '€975K', '€375K', '€775K', '€275K', '€180K', '€450K', '€675K',
       '€150K', '€240K', '€300K', '€130K', '€220K', '€200K', '€110K',
       '€170K', '€230K', '€90K', '€120K', '€80K', '€190K', '€140K',
       '€160K', '€100K', '€60K', '€50K', '€70K', '€45K', '€35K', '€40K',
       '€25K', '€20K', '€15K', '€30K', '€9K'], dtype=object)

In [30]:
def convert_value(value):
    if isinstance(value, int):  
        return value
    value = value.replace('€', '')
    if 'M' in value:
        return int(float(value.replace('M', '')) * 1_000_000)
    elif 'K' in value:
        return int(float(value.replace('K', '')) * 1_000)
    else:
        return int(value)

df['Value'] = df['Value'].apply(convert_value)


df['Value']

0        103500000
1         63000000
2        120000000
3        129000000
4        132000000
           ...
18974       100000
18975       130000
18976       120000
18977       100000
18978       100000
Name: Value, Length: 18979, dtype: int64

In [22]:
df['Wage'].unique()

array(['€560K', '€220K', '€125K', '€370K', '€270K', '€240K', '€250K',
       '€160K', '€260K', '€210K', '€310K', '€130K', '€350K', '€300K',
       '€190K', '€145K', '€195K', '€100K', '€140K', '€290K', '€82K',
       '€110K', '€230K', '€155K', '€200K', '€165K', '€95K', '€170K',
       '€105K', '€115K', '€150K', '€135K', '€55K', '€58K', '€81K', '€34K',
       '€120K', '€59K', '€90K', '€65K', '€56K', '€71K', '€18K', '€75K',
       '€47K', '€20K', '€84K', '€86K', '€74K', '€78K', '€27K', '€68K',
       '€85K', '€25K', '€46K', '€83K', '€54K', '€79K', '€175K', '€43K',
       '€49K', '€45K', '€38K', '€41K', '€39K', '€23K', '€51K', '€50K',
       '€87K', '€30K', '€14K', '€69K', '€31K', '€64K', '€53K', '€35K',
       '€21K', '€28K', '€17K', '€33K', '€70K', '€32K', '€89K', '€26K',
       '€40K', '€76K', '€72K', '€48K', '€36K', '€29K', '€60K', '€16K',
       '€37K', '€24K', '€52K', '€0', '€62K', '€73K', '€63K', '€19K',
       '€1K', '€66K', '€80K', '€12K', '€2K', '€42K', '€13K', '€900',
       '€57K', '€77K', '€61K', '€22K', '€67K', '€44K', '€15K', '€11K',
       '€8K', '€850', '€10K', '€88K', '€500', '€7K', '€6K', '€9K', '€5K',
       '€700', '€950', '€750', '€3K', '€650', '€600', '€4K', '€800',
       '€550'], dtype=object)

In [23]:
def convert_wage(wage):
    wage = wage.replace('€', '')
    if 'K' in wage:
        return int(float(wage.replace('K', '')) * 1_000)
    else:
        return int(wage)

df['Wage'] = df['Wage'].apply(convert_wage)

df['Wage']

0        560000
1        220000
2        125000
3        370000
4        270000
          ...
18974      1000
18975       500
18976       500
18977      2000
18978      1000
Name: Wage, Length: 18979, dtype: int64

In [24]:
df['Release Clause'].unique()

array(['€138.4M', '€75.9M', '€159.4M', ..., '€59K', '€35K', '€64K'],
      dtype=object)

In [31]:
df['Release Clause'] = df['Release Clause'].apply(convert_value)

df['Release Clause']

0        138400000
1         75900000
2        159400000
3        161000000
4        166500000
           ...
18974        70000
18975       165000
18976       131000
18977        88000
18978        79000
Name: Release Clause, Length: 18979, dtype: int64

In [35]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,SHO,PAS,DRI,DEF,PHY,Hits,Day,Month,Year,Cleaned_Club
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,92,91,95,38,65,771,1,7,2004,FC Barcelona
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,93,81,89,35,77,562,10,7,2018,Juventus
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,92,78,90,52,90,150,16,7,2014,Atlético Madrid
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,86,93,88,64,78,207,30,8,2015,Manchester City
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,85,86,94,36,59,595,3,8,2017,Paris Saint-Germain